{:lint-as {hyperfiddle.electric/def  clojure.core/def
           hyperfiddle.electric/defn clojure.core/defn
           hyperfiddle.electric/for  clojure.core/for
           hyperfiddle.electric/fn   clojure.core/fn
           uix.core/defui            clojure.core/defn}
 :linters {:redundant-expression {:level :off}}}
